<p *ngIf="title">{{ title }}</p>

<div>
  <ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>
</div>
<!--
<p>The summation is: {{ sum() }}</p>
<p>This is coming from services: {{ message() }}</p> -->

<a [routerLink]="['/second']" routerLinkActive="router-link-active"
  >Second Component</a
>
<br />
<br />
<br />
<!-- property binding [] -->
<!-- <button (click)="enableButton()" [disabled]="isDisabled">Show Books</button> -->
<!-- <button (click)="disableButton()">Show Books</button> -->
<button (click)="isShowing = !isShowing">Show Books</button>
<!-- <button (click)="toogleShowBooks()">Show Books</button> -->
<br />
<br />

<input type="text" [(ngModel)]="myName" />
<p>My name is: {{ myName }}</p>
<li *ngIf="isShowing">
  show dynamic image
  <img src="{{ src }}" alt="" />
  <img [src]="src" alt="" />
  {{ bookName }}
</li>
